body {
    font-family: sans-serif;
    background: #4B79A1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 75px;
}

.center {
    text-align: center;
}

.small-box
{
    color: white;
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.41);
    border:1pt solid black;
    border-radius:20pt;
    margin-left:40%;
    width:300px;
}

.text-big {
    font-size: 32px;
    font-family: 'Forum', cursive;
}

.text-medium {
    font-size: 22px;
    font-family: 'Forum', cursive;
}


.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

